@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>一起搞基</title>
    <link rel="stylesheet" id="style-css" href="/Content/Together/Style/Main.css" type="text/css" media="all" />
</head>
<body>
    <!--头部-->
    <div class="navbar-wrap">
        <div class="navbar">
            <h1 class="logo"><a href="javascirpt:;" title="SOYEP-关注前端设计，关注互联网">SOYEP</a></h1>
            <ul class="nav">
                <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-24"><a href="javascirpt:;">一起搞基</a></li>
                <li id="menu-item-922" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-922"><a href="javascirpt:;">超便宜</a></li>
                <li id="menu-item-950" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-950" style="display: none;"><a target="_blank" href="javascirpt:;">裸照</a></li>
                <li id="menu-item-907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-907" style="display: none;"><a href="javascirpt:;">捐赠我们</a></li>
                <li id="menu-item-908" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-908"><a href="javascirpt:;">留言</a></li>
            </ul>
            <div class="screen-mini">
                <button data-type="screen-nav" class="btn btn-inverse screen-nav"><i class="icon-tasks icon-white"></i></button>
            </div>
            <div class="menu pull-right">
                <div class="btn-group pull-left">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#feed">订阅</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">关注 <i class="caret"></i></button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascirpt:;" target="_blank">腾讯微博</a></li>
                        <li><a href="javascirpt:;" target="_blank">新浪微博</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--头部-->
    <!--公告-->
    <header class="header">
        <div class="speedbar">
            <div class="pull-right"><i class="icon-user icon12"></i><a href="javascript:;"></a></div>
            <div class="toptip"><strong class="text-success">最新消息：</strong>请在Chrome、Firefox等现代浏览器浏览本站。</div>
        </div>
    </header>
    <!--公告-->
    <!--资讯-->
    <section class="container">
     
        <!--资讯-->
        <div class="content-wrap">
            <div class="content">
                <!--置顶推荐-->
                <div class="sticky" style="display:none;">
                    <h2 class="title">置顶推荐</h2>
                    <ul>
                        <li class="item"><a href="http://www.soyep.net/1026.html">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/themes/d8/timthumb.php?src=http://7xifvf.com1.z0.glb.clouddn.com/s6780751.png&amp;w=220&amp;h=150&amp;zc=1" alt="分享一首超好听的歌 One Republic ft Timbaland - Apologize"><h3>分享一首超好听的歌 One Republic ft Timbaland – Apologize</h3>
                            <p class="muted">
                                突然想起Apologize这首歌（歌词见文后），除被多名歌手翻唱，还被应用于多个经典娱乐体系，...
                            </p>
                        </a></li>
                        <li class="item"><a href="http://www.soyep.net/1017.html">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/themes/d8/img/thumbnail.png" alt="群星鬼畜版《Duang》盘点羊年最热点,无敌的特技！"><h3>群星鬼畜版《Duang》盘点羊年最热点,无敌的特技！</h3>
                            <p class="muted">#duang#当发这篇文章的时候其实我是拒绝的，不是我想发就能发的，我跟小伙伴讲，我拒绝，因为写...</p>
                        </a></li>
                        <li class="item"><a href="http://www.soyep.net/976.html">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/uploads/2015/04/wordpress-4-1-theme-improvements_zps3680a8d5-220x150.jpg" alt="Bing美图作为WordPress登录页面背景图教程"><h3>Bing美图作为WordPress登录页面背景图教程</h3>
                            <p class="muted">Bing&nbsp;必应风景美图可谓一大特色。大自然是一个神奇的魔术师，把世界万物变得五颜六色。翠绿的山林...</p>
                        </a></li>
                        <li class="item"><a href="http://www.soyep.net/964.html">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/themes/d8/timthumb.php?src=http://7xifvf.com1.z0.glb.clouddn.com/flyme_loading_spinner_banner_zpsqhjtxvuo.png&amp;w=220&amp;h=150&amp;zc=1" alt="纯CSS3实现Flyme风格的圆形进度条"><h3>纯CSS3实现Flyme风格的圆形进度条</h3>
                            <p class="muted">
                                悄悄地，GIF 格式的进度条已经越来越少，CSS 进度条如雨后春笋般涌现。今天要介绍的这个 C...
                            </p>
                        </a></li>
                    </ul>
                </div>
                <!--置顶推荐-->
                <!--最新发布-->
                <div>
                    <h2 class="title">金融资讯</h2>
                    <article class="excerpt">
                        <div  style="display:none;"  class="focus">
                            <a href="http://www.soyep.net/1026.html" class="thumbnail">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/themes/d8/timthumb.php?src=http://7xifvf.com1.z0.glb.clouddn.com/s6780751.png&amp;w=220&amp;h=150&amp;zc=1" alt="分享一首超好听的歌 One Republic ft Timbaland - Apologize"></a>
                        </div>
                        <header>
                            <a class="label label-important" href="http://www.soyep.net/spit">站长吐槽<i class="label-arrow"></i></a>
                            <h2><a href="http://www.soyep.net/1026.html" title="分享一首超好听的歌 One Republic ft Timbaland – Apologize - SOYEP">分享一首超好听的歌 One Republic ft Timbaland – Apologize</a></h2>
                        </header>
                        <p>
                            <span class="muted"><i class="icon-time icon12"></i>1天前</span>	
                            <span class="muted"><i class="icon-eye-open icon12"></i>174浏览</span>	
                            <span class="muted"><i class="icon-comment icon12"></i><a href="http://www.soyep.net/1026.html#comments">0评论</a></span>
                        </p>
                        <p class="note">
                            突然想起Apologize这首歌（歌词见文后），除被多名歌手翻唱，还被应用于多个经典娱乐体系，不止如此，而且有乐队进行翻唱。
此曲由美国摇滚组合One Republic 演奏 ，由一名兼有意大利和马耳他血统的歌手Ryan Tedder演唱 ，后由T...
                        </p>
                    </article>
                   <article class="excerpt">
                        <div style="display:none;"  class="focus">
                            <a href="http://www.soyep.net/1026.html" class="thumbnail">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/themes/d8/timthumb.php?src=http://7xifvf.com1.z0.glb.clouddn.com/s6780751.png&amp;w=220&amp;h=150&amp;zc=1" alt="分享一首超好听的歌 One Republic ft Timbaland - Apologize"></a>
                        </div>
                        <div>
                            <header>
                                <a class="label label-important" href="http://www.soyep.net/spit">站长吐槽<i class="label-arrow"></i></a>
                                <h2><a href="http://www.soyep.net/1026.html" title="分享一首超好听的歌 One Republic ft Timbaland – Apologize - SOYEP">分享一首超好听的歌 One Republic ft Timbaland – Apologize</a></h2>
                            </header>
                            <p>
                                <span class="muted"><i class="icon-time icon12"></i>1天前</span>	
                                <span class="muted"><i class="icon-eye-open icon12"></i>174浏览</span>	
                                <span class="muted"><i class="icon-comment icon12"></i><a href="http://www.soyep.net/1026.html#comments">0评论</a></span>
                            </p>
                            <p class="note">
                                突然想起Apologize这首歌（歌词见文后），除被多名歌手翻唱，还被应用于多个经典娱乐体系，不止如此，而且有乐队进行翻唱。
    此曲由美国摇滚组合One Republic 演奏 ，由一名兼有意大利和马耳他血统的歌手Ryan Tedder演唱 ，后由T...
                            </p>
                        </div>
                    </article>
                    <article class="excerpt">
                        <div style="display:none;"  class="focus">
                            <a href="http://www.soyep.net/1026.html" class="thumbnail">
                            <img width="220" height="150" src="http://www.soyep.net/wp-content/themes/d8/timthumb.php?src=http://7xifvf.com1.z0.glb.clouddn.com/s6780751.png&amp;w=220&amp;h=150&amp;zc=1" alt="分享一首超好听的歌 One Republic ft Timbaland - Apologize"></a>
                        </div>
                        <header>
                            <a class="label label-important" href="http://www.soyep.net/spit">站长吐槽<i class="label-arrow"></i></a>
                            <h2><a href="http://www.soyep.net/1026.html" title="分享一首超好听的歌 One Republic ft Timbaland – Apologize - SOYEP">分享一首超好听的歌 One Republic ft Timbaland – Apologize</a></h2>
                        </header>
                        <p>
                            <span class="muted"><i class="icon-time icon12"></i>1天前</span>	
                            <span class="muted"><i class="icon-eye-open icon12"></i>174浏览</span>	
                            <span class="muted"><i class="icon-comment icon12"></i><a href="http://www.soyep.net/1026.html#comments">0评论</a></span>
                        </p>
                        <p class="note">
                            突然想起Apologize这首歌（歌词见文后），除被多名歌手翻唱，还被应用于多个经典娱乐体系，不止如此，而且有乐队进行翻唱。
此曲由美国摇滚组合One Republic 演奏 ，由一名兼有意大利和马耳他血统的歌手Ryan Tedder演唱 ，后由T...
                        </p>
                    </article>
                </div>
                <!--最新发布-->
                <!--分页-->
                <div class="pagination">
                    <ul>
                        <li class="prev-page"></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="http://www.soyep.net/page/2">2</a></li>
                        <li><a href="http://www.soyep.net/page/3">3</a></li>
                        <li><a href="http://www.soyep.net/page/4">4</a></li>
                        <li><a href="http://www.soyep.net/page/5">5</a></li>
                        <li class="next-page"><a href="http://www.soyep.net/page/2">下一页</a></li>
                    </ul>
                </div>
                <!--分页-->
            </div>
        </div>
        <!--资讯-->
        
            <!--右边模块-->
        <aside class="sidebar">
            <!--本周战斗基推荐-->
            <div class="widget d_tag">
                <h3 class="widget_tit"><a class="btn btn-primary" href="javascript:;">Top排行</a>基佬大推荐本周战斗基</h3>
                <div class="d_tags">
                    <a href="javascript:;" style="display:block;">富国低碳环保</a>
                    <a href="javascript:;" style="display:block;">汇添富移动互联股票</a>
                    <a href="javascript:;" style="display:block;">汇添富民营活力</a>
                    <a href="javascript:;" style="display:block;">国联安优选行业</a>
                    <a href="javascript:;" style="display:block;">汇添富社会责任</a>
                </div>
            </div>
            <!--本周战斗基推荐-->
            <!--评论-->
            <div class="widget d_comment">
                <h3 class="widget_tit">最新评论</h3>
                <ul>
                    <li><a href="http://www.soyep.net/392.html#comment-924" title="【第二季】好莱坞艳照门再升级，艾薇儿也中枪啦上的评论">
                        <img alt="" data-original="http://www.soyep.net/avatar/040888c9bafe12f75050c76f3fd8086a.png" class="avatar avatar-36 photo" height="36" width="36" src="http://www.soyep.net/wp-content/themes/d8/img/default.png">肉牛 <span class="muted">1天前说：<br>
                            不错的文章，内容文笔犀利.</span></a></li>
                    <li><a href="http://www.soyep.net/392.html#comment-916" title="【第二季】好莱坞艳照门再升级，艾薇儿也中枪啦上的评论">
                        <img alt="" data-original="http://www.soyep.net/avatar/f339083a34305c841be6f7624409c8ce.png" class="avatar avatar-36 photo" height="36" width="36" src="http://www.soyep.net/wp-content/themes/d8/img/default.png">西门塔尔牛 <span class="muted">2天前说：<br>
                            文笔极佳.</span></a></li>
                    <li><a href="http://www.soyep.net/616.html#comment-914" title="Relax主题2.0版本发布，修改首页幻灯片及16项大改，新增导航顶部布局上的评论">
                        <img alt="" data-original="http://www.soyep.net/avatar/aeea74c7744dcf4d32cb567e2c292c19.png" class="avatar avatar-36 photo" height="36" width="36" src="http://www.soyep.net/wp-content/themes/d8/img/default.png">菱镁板 <span class="muted">2天前说：<br>
                            好文章，内容学富五车.</span></a></li>
                    <li><a href="http://www.soyep.net/43.html#comment-904" title="500 万个 Gmail 帐号密码遭黑客泄漏 网盘可下载上的评论">
                        <img alt="" data-original="http://www.soyep.net/avatar/a9e97002c189015e44ab78c5722ce8a9.png" class="avatar avatar-36 photo" height="36" width="36" src="http://www.soyep.net/wp-content/themes/d8/img/default.png">肉牛 <span class="muted">3天前说：<br>
                            不错的文章，内容文章雅致.</span></a></li>
                    <li><a href="http://www.soyep.net/75.html#comment-891" title="好莱坞艳照门：1.07G全集打包下载上的评论">
                        <img alt="" data-original="http://www.soyep.net/avatar/aac642e74aa592f9f6f298c3de309dbc.png" class="avatar avatar-36 photo" height="36" width="36" src="http://www.soyep.net/wp-content/themes/d8/img/default.png">Delphia <span class="muted">4天前说：<br>
                            This shows real exreptise. Thanks for th</span></a></li>
                    <li><a href="http://www.soyep.net/304.html#comment-890" title=".XYZ免费顶级域名申请注册和edu邮箱解决办法上的评论">
                        <img alt="" data-original="http://www.soyep.net/avatar/c513b91ffb6c70d08ec05dfe635c5962.png" class="avatar avatar-36 photo" height="36" width="36" src="http://www.soyep.net/wp-content/themes/d8/img/default.png">Celina <span class="muted">4天前说：<br>
                            Damn, I wish I could think of sohtmeing </span></a></li>
                </ul>
            </div>
            <!--评论-->
        </aside>
        <!--右边模块-->
        
    </section>
    <footer class="footer">
        <div class="footer-inner">
            <div class="copyright pull-left">
                版权所有，保留一切权利！ © 2015 <a href="http://www.1307s.com"></a>
            </div>
        </div>
    </footer>
</body>
</html>
